/* -------------------------- */
/* Shared Styles */

/* For navbar, margin-top: 10vh;
Then for general margin, margin top and bottom: 10vh 
Then margin left and right: 15vw*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Mosk";
	src: url(fonts/mosk_typeface/Mosk\ Normal_400.ttf) format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "Mosk";
	src: url(fonts/mosk_typeface/Mosk\ Semi-Bold\ 600.ttf) format("truetype");
	font-weight: 600;
}

@font-face {
	font-family: "Mosk";
	src: url(fonts/mosk_typeface/Mosk\ Bold\ 700.ttf) format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: "Mosk";
	src: url(fonts/mosk_typeface/Mosk\ Extra-Bold\ 800.ttf) format("truetype");
	font-weight: 800;
}

html {
	scroll-behavior: smooth;
	font-family: Mosk, sans-serif;
	font-weight: 400;
	/* font-family: "Signika", sans-serif; */
	/* font-family: "Roboto Slab", serif; */
	/* font-family: "Rubik", sans-serif; */
	color: rgb(58, 58, 58);
}

.main-grid {
	display: grid;
	grid-template-rows: 100vh 100vh auto 100vh;
	grid-template-columns: 1fr;
	grid-template-areas:
		"alias-home"
		"alias-about"
		"alias-projects"
		"alias-contacts";
}

img {
	max-width: 100%;
	max-height: 100%;
}

/* -------------------------- */
/* Home Styles */

.home {
	grid-area: alias-home;
	background-color: #5bd9b3;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 0.35fr 0.65fr;
	grid-template-areas: "alias-home-left alias-home-right";
}

.navbar {
	grid-area: alias-navbar;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15vw;
	position: fixed;
	height: 10vh;
	width: 100vw;
}

.name {
	font-size: 60px;
	font-weight: 700;
	color: #5bd9b3;
}

.nav-links {
	display: flex;
	align-items: center;
}

.nav-link {
	margin: 30px;
	font-size: 24px;
}

.nav-link a {
	color: rgb(58, 58, 58);
}

.nav-links button {
	margin: 30px;
	height: 50px;
	width: 50px;
	font-family: Mosk;
	font-size: 14px;
	font-weight: 400;
	border-style: none;
	border-radius: 50%;
}

.home-left {
	grid-area: alias-home-left;
	background-color: white;
	padding: 20vh 0 10vh 0;
}

.home-right {
	grid-area: alias-home-right;
	background-color: #5bd9b3;
	padding: 20vh 0 10vh 0;
	display: flex;
	justify-content: center;
}

.home-right .greeting {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-basis: 45%;
	margin-left: 3vw;
}

.home-right .greeting h1 {
	font-size: 50px;
	font-weight: 800;
}

.home-right .greeting p {
	font-size: 50px;
	font-weight: 800;
}

/* -------------------------- */
/* About Styles */

.about {
	grid-area: alias-about;
	background-color: #db91e8;
	display: flex;
}

.about-left {
	background-color: #db91e8;
	padding: 20vh 5vw 10vh 15vw;
	flex-basis: 50%;
}

.about-me {
}

.about-me h2 {
	font-size: 60px;
	padding-bottom: 2rem;
	font-weight: 800;
}

.about-me p {
	font-size: 30px;
}

.about-right {
	background-color: #b177bb;
	padding: 20vh 15vw 10vh 5vw;
	padding-right: 15vw;
	flex-basis: 50%;
}

.technologies {
}

.technologies h2 {
	font-size: 60px;
	font-weight: 800;
	padding-bottom: 2rem;
}

.tech-grid {
	font-size: 30px;
	height: 100%;
	padding-bottom: 10vh;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tech {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tech .img-container {
	width: 50%;
	height: 50%;
	margin-bottom: 5%;
}

/* -------------------------- */
/* Projects Styles */

.projects {
	grid-area: alias-projects;
	background-color: #f6f0b6;
	display: flex;
	flex-direction: column;
	padding-top: 15vh;
}

.project {
	display: grid;
	height: 550px;
	flex-grow: 1;
	margin: 5vh 15vw;
	grid-template-rows: 45vh 1fr;
	grid-template-columns: 40vw 1fr;
	row-gap: 2vh;
	column-gap: 3vw;
	grid-template-areas:
		"alias-project-img alias-project-description"
		"alias-project-links .";
}

.project .project-img {
	grid-area: alias-project-img;
	background-color: rgb(255, 160, 125);
	border: 4px solid rgb(58, 58, 58);
	box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.5);
}

.project .project-links {
	grid-area: alias-project-links;
	/* background-color: rgb(255, 135, 92); */
	display: flex;
}

.project .project-links .link {
	font-size: 24px;
}

.project .project-links .link a {
	text-decoration: none;
	color: rgb(58, 58, 58);
	margin-right: 5px;
}

.project .project-links .link i {
	margin-right: 20px;
}

.project .project-description {
	grid-area: alias-project-description;
	/* background-color: rgb(255, 118, 68); */
}

.project .project-description h2 {
	font-size: 40px;
	font-weight: 800;
}

.project .project-description p {
	font-size: 24px;
	margin-bottom: 20px;
}

/* -------------------------- */
/* Contact Styles */

.contact {
	grid-area: alias-contacts;
	background-color: #5bd9b3;
	display: grid;
	grid-template-rows: 1fr 10vh;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"alias-contact-left alias-contact-right"
		"alias-footer alias-footer";
}

.contact-left {
	grid-area: alias-contact-left;
	background-color: white;
	border: 1px solid black;
	border-right: none;
	margin: 20vh 0vw 10vh 15vw;
	padding: 10vh 5vw 10vh 10vw;
	display: flex;
	flex-direction: column;
}

.contact-info {
}

.contact-info h2 {
	font-size: 40px;
	font-weight: 800;
}

.contact-info p {
	font-size: 24px;
}

.contact-right {
	grid-area: alias-contact-right;
	/* background-color: rgb(189, 185, 185); */
	background-color: white;
	border: 1px solid black;
	border-left: none;
	margin: 20vh 15vw 10vh 0vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-form {
	width: 70%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contact-form input,
.contact-form textarea {
	font-family: Mosk;
	font-size: 16px;
	font-weight: 500;
	color: black;
	padding: 3%;
	border: 1px solid rgb(58, 58, 58);
	border-radius: 10px;
}

.contact-form .name {
	flex-basis: 10%;
}

.contact-form .email {
	flex-basis: 10%;
}

.contact-form .message {
	flex-basis: 60%;
}

.contact-form .send {
	flex-basis: 10%;
	font-weight: 700;
	color: rgb(58, 58, 58);
}

.footer {
	grid-area: alias-footer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
